.mainContent-content-quote {
  color: #336B87;
  background-color: #FFFFFF;
  border-left: 12px solid #2A3132;
  padding: 0px 20px;
  box-sizing: border-box;
  margin: 10px 20px;
  /*Box shadow*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

.mainContent-content-quote cite {
  padding: : 10px;
}

.mainContent-content-quote p {
  color: #336B87;
}

.mainContent-content-quote p::before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
}