body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #F2F2F2;
  font-size: 120%;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
  text-align: justify;
  margin: 20px 0px;
  color: #2A3132;
}

main a {
  color: #851944;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.mainHeader {
  position: -webkit-sticky;
  /* position: sticky;
  top: 0;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0); */
}

.mainHeader-heading {
  text-align: center;
  background-color: #336B87;
  color: #2A3132;
  padding: 25px;
  /* border-bottom: .5rem solid #2A3132; */
  font-size: 200%;
  text-transform: uppercase;
}

.sideBarHeadMainBox {
  display: flex;
}

.headMainBox {
  display: flex;
  flex-direction: column;
}

.sideBar {
  background-color: #F4F1EC;
  color: #4E4E4F;
  border-right: 1px solid #AAABA6;
  padding: 20px;
  /* opacity: 0.85; */
  max-width: 241px;
  width: 241px;
  min-width: 241px;
  box-sizing: border-box;
}

.sideBar .container, .sideBar-nav {
  display: flex;
  flex-direction: column;
}

.sideBar .container {
  position: fixed;
  max-width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sideBar-header {
  color: inherit;
  font-size: 30px;
  margin: 25px;
}

.sideBar-nav {
  overflow-y: auto;
}

.sideBar-nav-link {
  color: inherit;
  border-top: 1px solid #AAABA6;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-align: center;
  display: flex;
}

.sideBar-nav-icon, .sideBar-nav-text {
  margin: 5px;
}

.sideBar-nav-link:nth-child(6) {
  border-bottom: 1px solid #AAABA6;
}

.mainContent {
  margin: 0 auto;
  padding: 25px;
}

.mainContent .container {
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
  padding: 25px;
  background-color: #FFFFFF;
}

.mainContent-content-heading {
  font-size: 150%;
  color: #336B87;
  text-transform: uppercase;
  clear: right;
  margin-top: 3rem;
}

.socialMediaIcons {
  display: flex;
  margin: 20px;
}

.mainFooter {
  background-color: #2A3132;
  color: #FFFFFF;
  padding: 20px;
  /* position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0); */
}