body {
  font-family: sans-serif;
  background-color: #F2F2F2;
  font-size: 90%;
  line-height: 1.5;
}

h1, h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
  text-align: justify;
  margin: 20px 0px;
  color: #2A3132;
}

main a {
  color: #851944;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
}

/* Wrappers para o flexbox */

.wrapper-sideBar-header-main {
  display: flex;
  min-height: 943px;
}

.wrapper-header-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
}

.header {
  background-color: #336B87;
  color: #2A3132;
  padding: 25px;
  /* border-bottom: .5rem solid #2A3132; */
  font-size: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container-icons {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.header .container-icons a {
  text-decoration: none;
  color: #2A3132;
}

/* Barra Lateral */

.sideBar {
  background-color: #F4F1EC;
  /* background-color: #4E4E4F; */
  color: #4E4E4F;
  padding: 20px;
  /* opacity: 0.85; */
  max-width: 241px;
  width: 241px;
  min-width: 241px;
  box-sizing: border-box;
}

.sideBar .container {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #336B87;
}

.sideBar .container {
  position: fixed;
  max-width: 240px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

.sideBar-header {
  color: inherit;
  font-size: 30px;
  margin: 25px;
}

.sideBar-img {
  width: 50%;
  margin: 0 auto;
}

.sideBar-nav {
  overflow-y: auto;
}

.sideBar-nav-link, .sideBar-nav-link-selected {
  color: inherit;
  /* border-top: 1px solid #AAABA6; */
  font-family: sans-serif;
  letter-spacing: 1px;
  display: flex;
  padding: 10px 20px;
  border-left: 3px solid transparent;
}

.sideBar-nav-link-selected {
  background-color: #8A8A89;
  border-left: 3px solid #336B87;
}

.sideBar-nav-icon, .sideBar-nav-text {
  margin: 5px;
}

/*Main - corpo do site - conteúdo*/

.mainContent {
  margin: 0 auto;
  padding: 25px;
  width: 80%;
}

.mainContent .container {
  background-color: #FFFFFF;
  padding: 25px;
}

.mainContent-nav {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #336B87;
}

.mainContent-nav-link, .mainContent-nav-link-selected {
  color: #2A3132;
  padding: .5em 1em;
  border: 1px solid transparent;
}

.mainContent-nav-link-selected {
  background-color: #336B87;
  border-radius: 5px 5px 0px 0px;
  border: 2px solid #336B87;
  color: #F4F1EC;
}

/* .mainContent-nav-link:hover {
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
} */

.mainContent-content-subtitle {
  font-size: 150%;
  color: #336B87;
  text-transform: uppercase;
  clear: right;
  margin-top: 3rem;
}

.mainContent-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainContent-form-input {
  outline: 0;
  border: 1px solid #44A3D6;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  padding: 2%;
  box-sizing: border-box;
  width: 100%;
}

.input-container {
  margin: 20px;
  width: 40%;
  /* text-align: center; */
}

.input-container p {
  font-weight: 600;
  color: #2A3132;
}

/* Footer */

.footer {
  background-color: #2A3132;
  color: #FFFFFF;
  padding: 20px;
  /* position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0); */
}

/*Shadows*/

.mainContent .container, .sideBar {
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

/* Scroll - customização do scroll */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}